---
export interface Props {
  link: {
    name: string;
    icon: string;
    href: string;
  };
}

const { name, icon, href } = Astro.props.link;
---

<div>
  <a href={href}>
    <i class={icon} style="width: 3rem;"></i>
    <span>{name}</span>
  </a>
</div>
