---
// Component Imports
import TopPage from '../components/TopPage/index.astro';
import "the-new-css-reset/css/reset.css"

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="ja">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/vnd.microsoft.icon" href="/favicon.ico" />
	</head>
	<body>
		<main>
      <TopPage />
		</main>
	</body>
</html>
