.pages {
  overflow: auto;
  height: calc(100vh - 3.25rem);
  .page {
    overflow: auto;
    min-height: 90vh;
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    .content {
      h2 {
        font-weight: bold;
        font-size: 1.1em;
        span {
          display: inline-block;
          white-space: nowrap;
        }
      }
      .columns {
        background-color: rgba($color: #fff, $alpha: 0.5);
        border-bottom: solid #fff 1px;
        &:last-child {
          border: none;
        }
      }
    }

    &#top {
      background-color: #c3e2d0;
      background-size: cover;
      background-repeat: no-repeat;
      background-image: url('/background.png');
      background-position: center center;
    }

    &#profile {
      background-color: #17a05d;
    }

    &#works {
      background-color: #82ba63;

      .columns .column div {
        padding: 0.5rem;
        background-color: rgba($color: #fff, $alpha: 0.5);
      }
    }

    &#links {
      background-color: #3b89b9;
      .column {
        text-align: center;
      }
    }
  }
}
