.pages {
  overflow: auto;
  scroll-snap-type: y mandatory;
  height: calc(100vh - 3.25rem);
  .page {
    scroll-snap-align: center;
    overflow: auto;
    min-height: 90vh;
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    .content {
      h3 span {
        display: inline-block;
        white-space: nowrap;
      }
      ul {
        list-style: none;
        margin: 0;
      }
      .columns {
        background-color: rgba($color: #fff, $alpha: 0.5);
        border-bottom: solid #fff 1px;
      }
      .columns:last-child {
        border: none;
      }
    }
  }

  #profile {
    background-color: #17a05d;
  }
  #works {
    background-color: #82ba63;

    .columns .column div {
      padding: 0.5rem;
      background-color: rgba($color: #fff, $alpha: 0.5);
    }
  }
  #links {
    background-color: #3b89b9;
    .column {
      text-align: center;
    }
  }
}
