<style>
  div {
    min-height: 100vh;
    min-width: 100vw;

    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('/background.png');
    background-position: center center;
  }
</style>
<div></div>
