name: lint

on:
  pull_request:
    paths:
      - src/**
      - .node-version
      - package.json
      - pnpm-lock.yaml

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4
        with:
          version: 10
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          node-version-file: '.node-version'
          cache: 'pnpm'

      - name: install packages
        run: pnpm install --frozen-lockfile

      - name: lint
        run: pnpm lint
